{% extends 'mailing/base.html' %}

{% block title %}Все рассылки{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Список рассылок</h1>
        <a href="{% url 'mailing:create_recipient' %}" class="btn btn-primary mb-3">Создать новую рассылку</a>
        <ul class="list-group">
            {% for recipient in recipients %}
                <li class="list-group-item">
<!--                    <a href="{% url 'mailing:recipient_detail' recipient.pk %}">{{ recipient.fullname }}</a>-->
<!--                    <a href="{% url 'mailing:recipient_edit' recipient.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>-->
<!--                    <a href="{% url 'mailing:recipient_delete' recipient.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>-->
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
